{% extends 'base.html' %}
{% block title %}Delete Post{% endblock title %}

{% block content %}
<div style="padding-top:100px;">
    <div class="card" style="border:5px solid rgb(66, 103, 178);">
        <div class="card-body">
            <h1 style="padding-top:10px; padding-bottom:15px;font-weight:550;">Delete Post</h1>
            <p style="font-size:20px;font-weight:450;">Are you sure you want to delete "{{ share.title }}"?</p>
            <form style="font-weight:550;" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input style="margin-top:20px;" type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
<p style="text-align:center;font-weight:500;margin-top:50px;">©2022 faceTwitterGram, Inc. No rights reserved.</p>

{% endblock content %}