{% extends 'base.html' %}
{% block title %}Edit Post{% endblock title %}

{% block content %}
<div style="padding-top:100px;">
    <div class="card" style="border:5px solid rgb(66, 103, 178);">
        <div class="card-body">
            <h1 class="card-title" style="padding-top:10px; padding-bottom:15px;font-weight:550;">Edit Share</h1>
            <form style="font-weight:550;" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input style="margin-top:20px;" type="submit" value="Edit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<p style="text-align:center;font-weight:500;margin-top:50px;">©2022 faceTwitterGram, Inc. No rights reserved.</p>

{% endblock content %}