{% extends 'base.html' %}
{% block title %}Shares{% endblock title %}
{% block content %}

<h1 style="padding-top:25px;padding-bottom:15px;">Posts</h1>
{% for share in share_list %}
<div class="card" style="border:5px solid rgb(66, 103, 178);">
    <div class=" card-body">
        <h5 class="card-title">{{ share.author }}</h5>
        <img src="{{ share.author.profile.profile_img.url }}" width=30 height=30 class="rounded-circle">
        <a href="{% url 'show_profile_page' share.author.profile.id %}">Profile Page</a> 
        <!-- <h6 class="card-subtitle mb-2 text-muted">{{ article.subtitle }}</h6> -->
        <p class="card-text" style="font-size:20px;">{{ share.body|truncatechars:500 }}</p>
        <img src="{{ share.image }}">
        <a style="text-decoration:none;color:rgb(66, 103, 178);font-weight:bold;"></a>
        <a  href="{% url 'share_detail' share.id %}" class="card-link">More</a>
        <a href="#"><i style="padding-left:15px;color:black;" class="fa-solid fa-thumbs-up"></i></a>
        <form action="{% url 'post_likes' share.pk %}"
method="POST">
{% csrf_token %}
<button type="submit", name="share_id", value="{{ share.id }}", class="btn btn-primary btn-sm">Like</button>
</form>

        <a href="#"><i style="padding-left:15px;color:black;" class="fa-solid fa-thumbs-down"></i></a>
        <a href="#"><i style="padding-left:15px;color:black;" class="fa-solid fa-flag"></i></a>
        <a href="#" style="padding-left:15px;color:black;text-decoration:none;">{{ share.created_on }}</a>
       
    </div>
</div>

<br />

<hr>
<form action="{% url 'share_likes' share.pk %}"
method="POST">
{% csrf_token %}
<button type="submit", name="share_id", value="{{ share.id }}", class="btn btn-primary btn-sm">Like</button>
</form>



{% endfor %}
<p style="text-align:center;font-weight:500;margin-top:30px;">©2022 faceTwitterGram, Inc. No rights reserved.</p>

{% endblock content %}